<script>
units=$H();
<%-  hoursid=0
   EstimateUnit.all.each do |u|
       if(u.name == "Hours")
          hoursid=u.id
       end
-%>
units.set(<%= u.id %>, new Unit(<%= u.id %>, '<%= u.name %>', <%= u.to_hours %>));
<%- end -%>
<%- if(hoursid == 0) -%>
units.set(0, new Unit(0, 'hours', 1.0));
<%- end -%>

rows=$A();
<%- @project.tasks.each do |task|
    qty = task.current_estimate ? (task.current_estimate.qty ? task.current_estimate.qty : 0) : 0
    unit = task.current_estimate ? (task.current_estimate.estimate_unit_id ? task.current_estimate.estimate_unit_id : hoursid ) : hoursid
-%>
rows.push(new Estimate(<%= task.id %>,'<%= task.name %>', <%= qty %>,units.get(<%= unit %>)));
<%- end -%>

window.onload = function() {
   tb=$('jsesttable');
   rows.each(function(row) { row.addrow(tb); });
}
</script>
<div id="jsest">
<table id="jsesttable">
</table>
</div>
