<h1>Editing estimate_unit</h1>

<% form_for(@estimate_unit) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :to_hours %><br />
    <%= f.text_field :to_hours %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @estimate_unit %> |
<%= link_to 'Back', estimate_units_path %>
