<h1>Listing estimate_units</h1>

<table>
  <tr>
    <th>Name</th>
  </tr>

<% @estimate_units.each do |estimate_unit| %>
  <tr>
    <td><%=h estimate_unit.name %></td>
    <td><%= link_to 'Show', estimate_unit %></td>
    <td><%= link_to 'Edit', edit_estimate_unit_path(estimate_unit) %></td>
    <td><%= link_to 'Destroy', estimate_unit, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New estimate_unit', new_estimate_unit_path %>